body{
    margin: 0px;
    background-color: rgb(245, 245, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#rodadas{
    text-align: center;
    font-size: 100%;
}
.bola{
    background-color: rgb(191, 227, 250);
    width: 100px;
    border: 2px solid;
    border-color:rgb(191, 227, 250);
    border-radius:100%;
    height: 100px;
    position: absolute;background-size: 100%;
    box-shadow: 5px 5px 0px rgb(145, 172, 189);
}
.jogo > #elemento1{
    left: 120px;
}
.jogo > #elemento2{
    top: 140px;
}
.jogo > #elemento3{
    top: 400px;
    left: 190px;
}
.jogo > #elemento4{
    top: 140px;
    left: 380px;
}
.jogo > #elemento5{
    left: 260px;
}
.jogo > #elemento6{
    top: 200px;
    left: 190px;
}